.modal-open {
  margin:0;
  padding: 0;
  position: fixed;
  z-index: 90;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(21,21,21,0.4);
  transition: .2 ease-out all;
}
.modal {
  position:fixed;
  z-index: 999;
  top:20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
html,body {
  display: inline-block;
  color:white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #8BC34A;
  overflow: hidden;
}

.container__hgroup {
  padding-bottom: 40px;
}
.container__hgroup h1, h3, h4 {
  font-weight: 300;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding:0;
  
}
.container__hgroup h1 {
  font-size: 3.0rem;
  padding: 20px;
}
 

ul {
  display: inline-block;
  text-align: center;
  list-style: none;
}

li {
  color:black;
  margin-left: -38px;
  text-align: left; 
  padding: 10px 20px;
  border-bottom: 2px solid darkgrey;
  background-color: white;
  width: 34vw;
  margin-bottom:1px;
}

span {
  padding-left: 10px;
  letter-spacing: 0.02em;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  transition: all 1s ease;

}

.checked {
  text-decoration: line-through;
  color: darkgrey;
  transition: all 1s ease;
}

.btn-group{
  display: inline;
}
.container__clear {
  width: 36vw;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
}
#clearStorage {
  display: inline;
  float:right;
}

button {
  width:8vw;
  color:white;
  border:none;
  padding: 10.5px;
  margin-left: -5px;
  font-size: 20px;
  background-color: #007D21;
  vertical-align: middle;
  
}

input[type="text"] {
  color:#fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border: none;
  background-color: #689F38;
  display: inline-block;
  width: 28vw;
  padding: 10px;

  vertical-align: middle;
}

input[type="text"].modal-input {
  background-color: white;
  border: 1px solid rgba(21,21,21,0.2);
  color:#000;
  font-size: 17px;
  width: 80vw;
}

.fa {
  color: #000;
  float: right;
  cursor:pointer;
}

input:focus, button:focus{
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}


.remove {
  animation: fadeOut .3s linear forwards;
  display: none;
}
 
.create {
  animation: fadeIn .3s linear forwards;
}

::-webkit-input-placeholder {
   color: #DCEDC8;
}
:-moz-placeholder { /* Firefox 18- */
   color: #DCEDC8;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #DCEDC8;  
}

:-ms-input-placeholder {  
   color: #DCEDC8;  
}
@media only screen and (max-width: 1000px)  {
  input[type="text"] {
    width:46vw;
  }
  button {
    width:14vw;
  }
  li{
    width: 57vw;
  }
  .container__clear {
    width:60vw;
  }
}

@media only screen and (max-width: 600px)  {
  input[type="text"] {
    width:72vw;
  }
  button {
    width:18vw;
  }
  li{
    width:87vw;
  }

  .container__clear {
    width:83vw;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateOutDownRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  -webkit-animation-name: rotateOutDownRight;
  animation-name: rotateOutDownRight;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

::selection {background-color: #BFE69D;}
::-moz-selection {background-color: #BFE69D;}
::-webkit-selection {background-color: #BFE69D;}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}